.content-triple {
    @include grid(
        $col-class: content-triple__col,
        $col-width: (
            default: 100%,
            medium: 33.33%
        )
    );
}

.content-triple img {
    @extend %img-responsive;
}

.content-triple__col {
    @include breakpoint(default, $inherit: medium) {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
