.contact-info {
    @include grid(
        $col-class: contact-info-col--large,
        $col-width: (
            default: 100%,
            large: 70%
        )
    );
    @include grid(
        $col-class: contact-info-col--small,
        $col-width: (
            default: 100%,
            large: 30%
        )
    );
}

.contact-info__col {
    @include breakpoint(default, $inherit: medium) {
        margin-bottom: 30px;

        + .contact-info__col {
            margin-bottom: 0;
        }
    }

    @include breakpoint(large) {
        box-sizing: border-box;
    }
}

.contact-info_embed-container {
    position: relative;
    padding-bottom: 56.25%; /* ratio 16x9 */
    height: 0;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
}

.contact-info_embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
