.image-mosaic {
    margin: 0 -60px;

    @include breakpoint(large) {
        margin: 0 -120px;
    }

    &:hover .image-mosaic__content { opacity: 0.3; }
    &:hover .image-mosaic__content:hover { opacity: 1; }
}

.image-mosaic__content {
    transition: 0.8s opacity;
    line-height: initial;
    float: left;
    width: 100%;
    height: auto;
    display: block;

    @include breakpoint(medium) {
        width: 50%;
    }

    @include breakpoint(large) {
        width: 33.33%;
    }
}

.image-mosaic__image {
    @extend %img-responsive;

    display: block;
    cursor: pointer;
}

.image-mosaic__modal .image-mosaic__image {
    margin: auto;
}

.image-mosaic__modal {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 11;

    &.hidden {
        display: none;
    }
}

.image-mosaic__modal-window {
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 10;
    max-height: 90%;
    box-sizing: border-box;
    overflow-y: auto;
    background: red;
}

.image-mosaic__modal-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

.image-mosaic__modal-open {
    overflow: hidden;
}

.image-mosaic__modal-close {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: fixed;
    z-index: 100;
}
