$color-white: #fff;
$color-black: #000;

$color-soapstone: #fffbfa;
$color-mine-shaft: #383838;
$color-silver: #c2c1c1;
$color-caribbean-green: #00bd9d;
$color-monte-carlo: #8bd7d2;
$color-malibu: #54defd;
$color-picton-blue: #49c6e5;

$color-shadow: rgba(0, 0, 0, 0.3);
