$color-primary: $color-caribbean-green;
$color-primary-shade: $color-monte-carlo;
$color-secondary: $color-malibu;
$color-secondary-shade: $color-picton-blue;

$color-text: $color-mine-shaft;
$color-text-highlight: $color-soapstone;
$color-link-primary: $color-mine-shaft;
$color-link-primary-hover: $color-monte-carlo;
$color-back: $color-soapstone;
$color-back-header: $color-soapstone;
$color-back-footer: $color-soapstone;
