$color-primary: $color-caribbean-green;
$color-primary-shade: $color-monte-carlo;
$color-secondary: $color-malibu;
$color-secondary-shade: $color-picton-blue;

$color-text: $color-mine-shaft;
$color-text-reverse: $color-soapstone;
$color-text-highlight: $color-picton-blue;
$color-link-primary: $color-picton-blue;
$color-link-primary-hover: $color-monte-carlo;
$color-link-secondary: $color-picton-blue;
$color-link-secondary-hover: $color-monte-carlo;
$color-button-primary: $color-picton-blue;
$color-button-primary-hover: $color-monte-carlo;
$color-button-secondary: $color-picton-blue;
$color-button-secondary-hover: $color-monte-carlo;
$color-back: $color-soapstone;
$color-back-header: $color-soapstone;
$color-back-footer: $color-soapstone;

$color-social: $color-sea-pink;
$color-social-hover: $color-melon;
