$color-white: #fff;

$color-soapstone: #fffbfa;
$color-mine-shaft: #383838;
$color-silver: #c2c1c1;
$color-caribbean-green: #00bd9d;
$color-monte-carlo: #8bd7d2;
$color-malibu: #54defd;
$color-picton-blue: #49c6e5;

$color-primary: $color-caribbean-green;
$color-primary-shade: $color-monte-carlo;
$color-secondary: $color-malibu;
$color-secondary-shade: $color-picton-blue;

$color-text: $color-mine-shaft;
$color-back: $color-soapstone;
