.site-footer {
    background: $color-back-footer;
    padding: 30px 30px 15px;

    @include breakpoint(large) {
        padding: 30px 120px 15px;
    }
}

.site-footer__navigation {
    margin: 0 -10px;

    li {
        display: inline-block;
        margin: 0 10px 15px;
    }
}
