.site-foot {
    background: $color-white;
    padding: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.site-foot__navigation {
    li {
        display: inline-block;
        margin-right: 20px;
    }

    li:last-child {
        margin-right: 0;
    }
}
