.site-header {
    padding: 30px 30px 15px;
    margin: 0;
    background: $color-back-header;
    box-sizing: border-box;

    @include breakpoint(large) {
        padding: 30px 120px 15px;
    }

    &.site-header--invert {
        position: absolute;
        background: transparent;
        width: 100%;
        top: 0;
    }
}

.site-header__navigation {
    margin: 0 -15px;

    li {
        display: inline-block;
        margin: 0 15px 15px;
    }

    a {
        color: $color-text-header;
    }
}

.site-header__logo {
    text-align: center;
}

.site-header__logo + .site-header__navigation {
    margin-top: 30px;
}

.site-header__logo-image {
    width: 200px;
    display: inline-block;

    @include breakpoint(medium) {
        width: 400px;
    }
}
