.text-highlight {
    color: $color-text;
    text-align: center;
    padding: 30px 60px;
    margin: 0 -60px;

    @include breakpoint(large) {
        margin: 0 -120px;
        padding: 120px;
    }
}

.text-highlight--static-image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.text-highlight__text {
    text-shadow: 2px 2px $color-shadow;
    color: $color-text-highlight;

    @include font(
        $font-family: 'Satisfy',
        $font-family-fallback: cursive,
        $font-size: (
            default: 28px,
            medium: 46px,
        ),
        $line-height: (
            default: 34px,
            medium: 60px
        )
    );
}
