.text-highlight {
    @extend %content-reset;

    color: $color-text;
    text-align: center;
    padding: 30px 60px;
    background-color: $color-tower-gray;

    @include breakpoint(large) {
        padding: 120px;
    }
}

.text-highlight--static-image {
    @include breakpoint(medium) {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}

.text-highlight__text {
    color: $color-text-reverse;

    @include breakpoint(medium) {
        text-shadow: 2px 2px $color-shadow;
    }

    @include font(
        $font-family: 'Satisfy',
        $font-family-fallback: cursive,
        $font-size: (
            default: 28px,
            medium: 46px,
        ),
        $line-height: (
            default: 34px,
            medium: 60px
        )
    );
}
