.social-share {
    display: flex;
    justify-content: center;
}

.social-share__twitter,
.social-share__facebook {
    margin: 0 30px;

    svg {
        width: 40px;
        height: 40px;

        @include breakpoint(large) {
            width: 80px;
            height: 80px;
        }
    }

    path {
        fill: $color-text;
    }
}
