.image-text-50-50 {
    @include breakpoint(large) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        // add grid mixin
        margin-left: -15px;
        margin-right: -15px;
    }
}

.image-text-50-50__col {
    @include breakpoint(default, $inherit: medium) {
        margin-bottom: 30px;

        + .image-text-50-50__col {
            margin-bottom: 0;
        }
    }

    @include breakpoint(large) {
        flex: 1 0 50%;
        box-sizing: border-box;

        // add grid mixin
        padding: 0 15px;
    }
}
