.link-secondary {
    @extend %link-base;

    @include font(
        $font-family: 'Open Sans',
        $font-weight: 'Regular',
        $font-family-fallback: sans-serif,
        $font-size: (
            default: 16px
        ),
        $line-height: (
            default: 1.2em
        )
    );

    color: $color-link-secondary;

    &:hover {
        color: $color-link-secondary-hover;
    }

    &.disabled {
        opacity: 0.5;
        cursor: default;
        pointer-events: none;
    }
}
