.link-secondary {
    @extend %link-base;

    @include font(
        $font-family: 'Open Sans',
        $font-weight: 'Regular',
        $font-family-fallback: sans-serif,
        $font-size: (
            default: 13px
        ),
        $line-height: (
            default: 1.2em
        )
    );

    color: $color-link-primary;

    &:hover {
        color: $color-link-primary-hover;
    }
}
