%headline-h6,
.headline-h6 {
    @include font(
        $font-family: 'Open Sans',
        $font-weight: 'Bold',
        $font-family-fallback: sans-serif,
        $font-size: (
            default: 16px,
            medium: 20px
        ),
        $line-height: (
            default: 1.2em
        )
    );

    text-transform: uppercase;
    display: block;
    margin: 0 0 23px;
}
