%headline-h2,
.headline-h2 {
    @include font(
        $font-family: 'Satisfy',
        $font-family-fallback: cursive,
        $font-size: (
            default: 25px,
            medium: 40px
        ),
        $line-height: (
            default: 1.2
        )
    );

    display: block;
    margin: 0 0 23px;
}
